.main-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #232323;
  color: #fff;
  height: 90vh;
}

/* left */

.main-container-left {
  display: flex;
  justify-content: center;
  grid-column: 1 / 2;
}
.main-container-my-image {
  height: 550px;
  width: 400px;
}

/* right */

.main-container-right {
  margin: 100px;
  margin-top: 150px;
  margin-left: 0;
  grid-column: 2/ 3;
  position: relative;
}

.main-container-right-title {
  margin: 0;
  font-size: 23px;
}
.main-container-right h1 {
  margin: 0;
  font-size: 55px;
}

.main-container-right p {
  max-width: 500px;
}

/* arrow */

.main-container-arrow {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, 0%);
  height: 40px;
  width: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  cursor: pointer;
  color: #fff;
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(252, 252, 252, 0.075);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(221, 221, 221, 0);
  }
}

/* media */

@media only screen and (max-width: 1200px) {
  .main-container-right {
    margin: 100px 60px;
  }
  .main-container {
    height: 100%;
  }
  .main-container-arrow {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .main-container-left {
    margin: 0;
  }
  .main-container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 60px;
  }
  .main-container-my-image {
    margin: 30px 0;
  }

  .main-container-right h1 {
    font-size: 43px;
  }
  .main-container-right p {
    max-width: 100%;
  }
  .main-container-right-title {
    padding: 0;
  }
}

@media only screen and (max-width: 576px) {
  .main-container-right {
    margin: 0 40px;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 442px) {
  .main-container-right {
    margin: 0 30px;
    padding: 0;
  }
  .main-container-my-image {
    margin: 30px 0;
    height: 300px;
    width: 220px;
  }
  .main-container-right-text {
    margin: 0;
    font-size: 18px;
    padding: 20px 0;
  }
  .main-container-right h1 {
    margin: 0;
    font-size: 33px;
    margin-top: 10px;
  }
}
