.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #232323;
  color: #fff;
  height: 90vh;
}

/* left */

.main-container-left {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  grid-column: 1 / 2;
}
.main-container-my-image {
  height: 550px;
  width: 400px;
}

/* right */

.main-container-right {
  margin: 100px;
  margin-top: 150px;
  margin-left: 0;
  grid-column: 2/ 3;
}

.main-container-right p {
  margin: 0;
  font-size: 23px;
}
.main-container-right h1 {
  margin: 0;
  font-size: 55px;
}

/* media */

@media only screen and (max-width: 1200px) {
  .main-container-right {
    margin: 100px 60px;
  }
  .main-container {
    height: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .main-container-left {
    margin: 0;
  }
  .main-container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 60px;
  }
  .main-container-my-image {
    margin: 30px 0;
    height: 350px;
    width: 300px;
  }
}

@media only screen and (max-width: 576px) {
  .main-container-right {
    margin: 0 40px;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 442px) {
  .main-container-right {
    margin: 0 30px;
    margin-top: 30px;
  }
  .main-container-my-image {
    margin: 30px 0;
    height: 200px;
    width: 180px;
  }
  .main-container-right p {
    margin: 0;
    font-size: 18px;
  }
  .main-container-right h1 {
    margin: 0;
    font-size: 33px;
    margin-top: 10px;
  }
}
