.project-container {
  margin-top: 50px;
  height: 85.5vh;
  font-size: 18px;
}
.project-container-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.project-container h2 {
  margin: 0;
  text-align: center;
  font-size: 44px;
  letter-spacing: 12px;
  margin-bottom: 60px;
  text-transform: capitalize;
}

/* project left */
.project-container-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.project-container-left img {
  grid-column: 2/3;
  width: 90%;
}

/* project right  */

.project-container-right {
  grid-column: 2/3;
  margin: 0 15px;
}

.project-container-right p {
  width: 80%;
}

.project-container-right button {
  background-color: #2d79c7;
  padding: 13px 20px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  transition: background-color linear 0.3s;
  margin-top: 30px;
}

.project-container-right h4 {
  font-size: 23px;
  margin: 0;
}

.project-container-right button:hover {
  background-color: #2977c5bb;
}

.project-container-right-technologies {
  display: flex;
  padding: 0;
  list-style: none;
  gap: 10px;
  margin-bottom: 30px;
}

.project-container-right-technologies li {
  background-color: #2d79c7;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 4px;
  text-transform: capitalize;
}

.project-container-right-btns {
  display: flex;
  gap: 20px;
  margin-top: 18px;
}

.project-container-right-btns-live,
.project-container-right-btns-github {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.project-container-right-btns a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #fff;
  text-underline-offset: 12px;
}

.project-container-right-btns a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  margin-top: 2px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.project-container-right-btns a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* page not exits */

.page-not-exist {
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.page-not-exits-btn {
  background-color: #2d79c7;
  padding: 13px 20px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

/* media */

@media only screen and (max-width: 1200px) {
  .project-container {
    height: 100%;
    margin: 0 40px;
  }

  .project-container h2 {
    margin-top: 60px;
  }

  .project-container-right {
    padding: 0 80px;
  }

  .project-container-right p {
    width: 100%;
    text-align: center;
  }

  .project-container-right-technologies,
  .project-container-right-btns {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }
  .project-container-grid {
    display: flex;
    flex-direction: column;
  }
  .project-container-left img {
    height: 100%;
    width: 80%;
  }
  .project-container-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 50px auto;
    text-align: center;
  }
}

@media only screen and (max-width: 665px) {
  .project-container {
    margin: 0 20px;
  }
  .project-container-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .project-container-left img {
    height: 100%;
    width: 95%;
  }
  .project-container-right p {
    width: 90%;
  }
  .project-container-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

@media only screen and (max-width: 442px) {
  .project-container-right-technologies {
    flex-direction: column;
    margin: 15px;
  }
  .project-container p {
    font-size: 18px;
  }
  .project-container h2 {
    margin-bottom: 60px;
    font-size: 30px;
  }
}
