.projects-container {
  padding-top: 50px;
  height: 84vh;
}
.projects-container h2 {
  margin: 0;
  text-align: center;
  font-size: 44px;
  letter-spacing: 12px;
  margin-bottom: 60px;
}

.projects-container-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
  padding: 0 40px;
}

.projects-container-box {
  text-align: center;
  text-transform: capitalize;
}

.projects-container-box-inside {
  height: 300px;
  width: 300px;
  border: 1px solid #fff;
}

@media only screen and (max-width: 1150px) {
  .projects-container-items {
    flex-direction: column;
  }
}
