.projects-container {
  padding-top: 50px;
  height: 84vh;
}
.projects-container h2 {
  margin: 0;
  text-align: center;
  font-size: 44px;
  letter-spacing: 12px;
  margin-bottom: 60px;
}

.projects-container-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
  padding: 0 40px;
}

.projects-container-items a:link {
  color: #fff;
  text-decoration: none;
}

.projects-container-box {
  text-align: center;
  text-transform: capitalize;
  color: #fff;
}

.projects-container-box h3 {
  display: inline-block;
  position: relative;
  color: #fff;
  text-underline-offset: 12px;
}

.projects-container-box h3::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  margin-top: 2px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.projects-container-box h3:hover::after {
  text-underline-offset: 5px;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.projects-container-box-inside {
  height: 300px;
  width: 300px;
  border: 1px solid #fff;
}

img {
  height: 300px;
  width: 300px;
}

.projects-container-box-btns {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 1150px) {
  .projects-container {
    height: 100%;
  }
  .projects-container-items {
    flex-direction: column;
  }
  .projects-container-items:last-child {
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 442px) {
  .projects-container p {
    margin: 0;
    font-size: 18px;
  }
  .projects-container h2 {
    margin: 0;
    font-size: 33px;
    margin-top: 10px;
  }
  .projects-container-items {
    padding: 10px;
  }
}
