.skills-container {
  padding-top: 50px;
}
.skills-container h2 {
  margin: 0;
  text-align: center;
  font-size: 44px;
  letter-spacing: 12px;
}

.skills-container-items {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.skills-container-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills-container-item img {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 2;
  top: -50px;
  left: 24px;
}

.skills-container-item-circle {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 50%;
}
