.skills-container {
  padding-top: 50px;
}
.skills-container h2 {
  margin: 0;
  text-align: center;
  font-size: 44px;
  letter-spacing: 12px;
  margin-bottom: 60px;
}

.skills-container-items {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 0 40px;
}

.skills-container-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
}

.skills-container-item img {
  width: 100px;
  height: 100px;
  z-index: 2;
  top: -50px;
  left: 24px;
}

.skills-container-item-circle {
  position: relative;
  width: 150px;
  height: 150px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.skills-container-item-circle img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
