.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  font-size: 18px;
}

.nav Link,
.nav a {
  text-decoration: none;
  color: #fff;
}

/* nav left */

.nav-left {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  gap: 10px;
}

.nav-left-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border: 1px solid #fff;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
}
.nav-left-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* nav right */

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  height: 37px;
}

.nav-right-links {
  display: flex;
  flex-direction: row;
  gap: 35px;
}

.nav-right-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.nav-right-link p {
  display: inline-block;
  position: relative;
  color: #fff;
  padding-bottom: 2px;
}

.nav-right-link-title::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  margin-top: 2px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-right-link-title:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-right-menu {
  display: none;
  position: fixed;
  top: 20px;
  right: 35px;
}

/* media */

@media only screen and (max-width: 1200px) {
  .nav-right-links {
    display: none;
  }
  .list,
  .nav-right-menu {
    display: block;
  }
  .nav-left {
    margin-left: 50px;
  }
  .nav-right {
    margin-right: 50px;
  }
}

@media only screen and (max-width: 442px) {
  .nav-left {
    margin-left: 20px;
  }
  .nav-right {
    margin-right: 20px;
  }
  .nav-right-menu {
    right: 15px;
  }
}
@media only screen and (max-width: 361px) {
  .nav-left {
    margin-left: 10px;
    font-size: 14px;
  }
  .nav-right-menu {
    right: 2px;
  }
}
