/* page not exits */

.page-not-exist {
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.page-not-exits-btn {
  background-color: #2d79c7;
  padding: 13px 20px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  transition: background-color linear 0.3s;
}
.page-not-exits-btn:hover {
  background-color: #2977c5bb;
}
