body {
  margin: 0;
  font-family: "Inter", sans-serif;
  /* font-family: 'Oswald', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #232323;
  color: #fff;
  scroll-behavior: smooth;
}
