.about-me-container {
  margin: 50px 0;
  padding: 40px 140px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-container-underline {
  height: 2px;
  width: 150px;
  background-color: #2d79c7;
  margin-bottom: 60px;
}

.about-me-container h2 {
  margin: 0;
  text-align: center;
  font-size: 44px;
  letter-spacing: 7px;
  margin-bottom: 6px;
  text-transform: capitalize;
}

.about-me-container-text p {
  margin: 0;
}

@media only screen and (max-width: 1200px) {
  .about-me-container {
    padding: 30px 70px;
  }
}
@media only screen and (max-width: 768px) {
  .about-me-container {
    padding: 30px 40px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 442px) {
  .about-me-container {
    margin: 0;
  }
  .about-me-container h2 {
    font-size: 30px;
  }
}
