.about-me-container {
  margin: 50px 0;
  padding: 40px 140px;
}

.about-me-container h2 {
  margin: 0;
  text-align: center;
  font-size: 44px;
  letter-spacing: 12px;
  margin-bottom: 60px;
  text-transform: capitalize;
}

.about-me-container-text p {
  margin: 0;
}

@media only screen and (max-width: 1200px) {
  .about-me-container {
    padding: 30px 70px;
  }
}
@media only screen and (max-width: 768px) {
  .about-me-container {
    padding: 30px 40px;
  }
}

@media only screen and (max-width: 442px) {
  .about-me-container h2 {
    font-size: 30px;
  }
}
